<a href="https://colab.research.google.com/github/KyroooKay/Algoritma-Dan-Pemrograman-Polines-2025/blob/praktikum-2/jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

Praktikum 02 - Input dan Output Dasar

In [ ]:
# Input string
nama = input ("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi  = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama,"umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan Format ()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm" .format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Praktikum 03 - Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print( "a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
print("Hasil program menunjukkan bahwa Phyton mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif")

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625
Hasil program menunjukkan bahwa Phyton mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif

Praktikum 04 - Operator Relasional

In [ ]:
x = 10
y = 20

print ("x == y :", x == y)
print ("x != y :", x != y)
print ("x < y :", x < y)
print ("x <= y :", x <= y)
print ("x >= y :", x >= y)
print("Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian > 60, atau apakah kehadiran mahasiswa memenuhi batas minimal")

Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b  =", a and b)
print("a or b   =", a or b)
print("not a    =", not a)

# Studi kasus nyata: kelulusan
nilai = int (input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 #dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

Praktikum 06 - Program Kasir Sederhana

In [ ]:
barang  = input("Masukkan nama barang: ")
harga   = float(input("Masukkan harga barang: "))
jumlah  = int(input("Masukkan jumlah barang: "))

total   = harga * jumlah

# Aturan diskon
if    total >= 500000:
      diskon = 0.2
elif  total >= 250000:
      diskon = 0.1
else:
      diskon = 0

potongan  = total * diskon
bayar     = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar  : Rp {bayar}")

# **Penugasan**

**Identitas Mahasiswa**

In [ ]:
# 1. Mengambil Input
nama = input("Masukkan nama Mahasiswa: ")
umur = int(input("Masukkan Umur Mahasiswa: "))
tinggi = float(input("Masukkan Tinggi Mahasiswa (cm): "))
status_in = input("Apakah Mahasiswa aktif? (y/n): ")

# 2. Konversi boolean
status = "Aktif" if status_in.lower() == "y" else "Tidak Aktif"

# 3. Menampilkan output
print("\n================================")
print("     IDENTITAS MAHASISWA")
print("================================")
print(f"Nama Lengkap : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status       : {status}")
print("================================")

Masukkan nama Mahasiswa: Lukman
Masukkan Umur Mahasiswa: 19
Masukkan Tinggi Mahasiswa (cm): 172
Apakah Mahasiswa aktif? (y/n): y

================================
     IDENTITAS MAHASISWA
================================
Nama Lengkap : Lukman
Umur         : 19 tahun
Tinggi Badan : 172.0 cm
Status       : Aktif
================================

**Operasi Aritmatika**

In [ ]:
# 1. Mengambil Input
a = (int(input("Masukkan nilai a: ")))
b = (int(input("Masukkan nilai b: ")))

# 2. Operasi dan output
print(a, "+", b, "=", a + b)
print(a, "-", b, "=", a - b)
print(a, "*", b, "=", a * b)
print(a, "/", b, "=", a / b)
print(a, "//", b, "=", a // b)
print(a, "%", b, "=", a % b)
print(a, "**", b, "=", a ** b)

Masukkan nilai a: 20
Masukkan nilai b: 5
20 + 5 = 25
20 - 5 = 15
20 * 5 = 100
20 / 5 = 4.0
20 // 5 = 4
20 % 5 = 0
20 ** 5 = 3200000

**Konversi Nilai**

In [ ]:
 # Mengambil Input (float)
nilai_float = float(input("Masukkan sebuah angka desimal (contoh: 75.836): "))

  # 1. Konversi float ke integer (menghilangkan desimal)
nilai_integer = int(nilai_float)

  # 2. Konversi float ke string (menjadi teks)
nilai_string = str(nilai_float)

  # 3. Pembulatan 2 digit di belakang koma
nilai_bulat = round(nilai_float, 2)

  # Menampilkan semua hasil dengan format yang rapi
print("\n---------- HASIL KONVERSI & PEMBULATAN ----------")
print(f"Nilai Asli (float)      : {nilai_float}")
print(f"Dikonversi ke Integer   : {nilai_integer}")
print(f"Dikonversi ke String    : '{nilai_string}'")
print(f"Dibulatkan (2 desimal)  : {nilai_bulat}")
print("-----------------------------------------------")

Masukkan sebuah angka desimal (contoh: 75.836): 84.8823

---------- HASIL KONVERSI & PEMBULATAN ----------
Nilai Asli (float)      : 84.8823
Dikonversi ke Integer   : 84
Dikonversi ke String    : '84.8823'
Dibulatkan (2 desimal)  : 84.88
-----------------------------------------------

*Operator Relasional*

In [ ]:
a = float(input("Masukkan nilai a: "))
b = float(input("Masukkan nilai b: "))

# 2. Menampilkan hasil perbandingan menggunakan semua operator relasional dengan format f-string
print("\n---------- HASIL PERBANDINGAN ----------")
print(f"{a} == {b} : {a == b}")
print(f"{a} != {b} : {a != b}")
print(f"{a} > {b}  : {a > b}")
print(f"{a} < {b}  : {a < b}")
print(f"{a} >= {b} : {a >= b}")
print(f"{a} <= {b} : {a <= b}")
print("--------------------------------------")

Masukkan nilai a: 15
Masukkan nilai b: 25

---------- HASIL PERBANDINGAN ----------
15.0 == 25.0 : False
15.0 != 25.0 : True
15.0 > 25.0  : False
15.0 < 25.0  : True
15.0 >= 25.0 : False
15.0 <= 25.0 : True
--------------------------------------