<a href="https://colab.research.google.com/github/KyroooKay/Algoritma-Dan-Pemrograman-Polines-2025/blob/praktikum-7/praktikum_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple: Data Tetap**

In [ ]:
koordinat = (7.05,110.44)
print("lintang:",koordinat[0])
print("bujur:",koordinat[1])

lintang: 7.05
bujur: 110.44

**Dictionary Dasar**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("Data Mahasiswa:")
print("NIM   :", mahasiswa["NIM"])
print("Nama  :", mahasiswa["Nama"])
print("Prodi :", mahasiswa["Prodi"])

Data Mahasiswa:
NIM   : 20251001
Nama  : Andi
Prodi : TRK

**Operasi Dictionary**

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]
print("Data Mahasiswa Setelah Operasi:")
for key, value in mahasiswa.items():
    print(f"{key} : {value}")

Data Mahasiswa Setelah Operasi:
NIM : 20251001
Nama : Andi
Prodi : Teknik Komputer

**Set dan Operasi Himpunan**

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

**Studi Kasus Mata Kuliah**

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)

print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Basis Data', 'Algoritma'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

**Studi Kasus Dictionary: Daftar Nilai**

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")
rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

**PENUGASAN**

Tuple Sederhana

In [ ]:
mahasiswa = ("Nama  : Bimo",
             "Umur  : 19 ",
             "Prodi : Teknik Rekayasa Komputer"
             )
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Nama  : Bimo
Umur  : 19
Prodi : Teknik Rekayasa Komputer

Tuple Tidak Bisa Diubah

In [ ]:
angka = ( 1,2,3 )
angka[0] = 10
print(angka)

TypeError: 'tuple' object does not support item assignment

Dictionary Dasar

In [ ]:
buku = {"Judul": "Algoritma",
        "Penulis": "Munir",
        "Tahun": 2021
        }
print("Judul    : ", buku['Judul'])
print("Penulis  : ", buku['Penulis'])
print("Tahun    : ", buku['Tahun'])

Judul    :  Algoritma
Penulis  :  Munir
Tahun    :  2021

Operasi Dictionary

In [ ]:
dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}
dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]
print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union        : ", A | B)
print("Intersection : ", A & B)
print("Difference   : ", A - B)

Union        :  {'Matematika', 'Basis Data', 'Algoritma', 'Bahasa Inggris'}
Intersection :  {'Matematika', 'Algoritma'}
Difference   :  {'Bahasa Inggris'}

Studi Kasus Dictionary

In [ ]:
nilai_mahasiswa = {
    "Andi":85,
    "Budi":90,
    "Cici":78
    }
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
rata-rata nilai: 84.33

Studi Kasus Set â€“ Klub Mahasiswa

In [ ]:
KlubA = {"Andi", "Budi", "Cici"}
KlubB = {"Cici", "Deni", "Eka"}

print("Daftar nama seluruh anggota Klub A dan B     : ", KlubA | KlubB)
print("Daftar anggota yang ada di kedua klub        : ", KlubA & KlubB)
print("Anggota yang ada di Klub A tapi B tidak ada  : ", KlubA - KlubB)

Daftar nama seluruh anggota Klub A dan B     :  {'Deni', 'Cici', 'Andi', 'Eka', 'Budi'}
Daftar anggota yang ada di kedua klub        :  {'Cici'}
Anggota yang ada di Klub A tapi B tidak ada  :  {'Budi', 'Andi'}