<a href="https://colab.research.google.com/github/KyroooKay/Algoritma-Dan-Pemrograman-Polines-2025/blob/praktikum-4/Praktikum_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Perulangan For dengan Range

In [1]:
for i in range(1,6):
  print (i)

1
2
3
4
5

 2 - Perulangan While

In [3]:
n = int(input("Masukkan angka = "))
while n > 0:
  print (n)
  n -= 1

Masukkan angka = 12
12
11
10
9
8
7
6
5
4
3
2
1

3 – Nested Loop (Segitiga Bintang)

In [2]:
for i in range (1,6):
  for j in range (i):
    print("*", end="")
  print()

*
**
***
****
*****

4 – Break dan Continue

In [8]:
for i in range (1,11):
  if i == 5 :
    print ("Angka 5 ditemukan")

Angka 5 ditemukan

5 – For pada Dictionary

In [7]:
data = {"Nama": "{Andi}", "Umur":20, "Prodi": "TRK"}

for k,v in data.items():
  print (k, ":", v)

Nama : {Andi}
Umur : 20
Prodi : TRK

6 – For dengan Enumerate

In [6]:
daftar = ["Andi","Budi","Cici"]

for i,nama in enumerate(daftar, start=1):
  print (i, nama)

1 Andi
2 Budi
3 Cici

7 – Studi Kasus: Program Kasir Multi-Item

In [5]:
total = 0
while True :
  b = (str(input("Input nama barang (ketik 'selesai' untuk berhenti): ")))
  if b.lower() == "selesai":
    break
  harga = (float(input(f"Input harga {b}: ")))
  jumlah = (int(input(f"Input jumlah {b}: ")))
  subtotal = harga * jumlah
  total += subtotal
  #2 total = total + (harga * jumlah)

print ("\n========= Struk Belanja =========")
print (f"Total belanja adalah : Rp {total}")

Input nama barang (ketik 'selesai' untuk berhenti): sepatu
Input harga sepatu: 2000000
Input jumlah sepatu: 1
Input nama barang (ketik 'selesai' untuk berhenti): selesai

========= Struk Belanja =========
Total belanja adalah : Rp 2000000.0

**PENUGASAN**

**Menampilkan Deret Angka**

In [ ]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

**Hitung Faktorial**

In [ ]:
n = int(input("Masukkan sebuah bilangan: "))

faktorial = 1
i = 1
while i <= n:
    faktorial *= i
    i += 1
print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan sebuah bilangan: 5
Faktorial dari 5 adalah 120

**Pola Segitiga Terbalik**

In [ ]:
tinggi = 5
for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

**Cari Bilangan Prima dengan Break**

In [ ]:
bilangan = int(input("Masukkan sebuah bilangan: "))

if bilangan > 1:
    for i in range(2, bilangan):
        if bilangan % i == 0:
            print(f"{bilangan} bukan bilangan prima karena habis dibagi {i}.")
            break
    else:
        print(f"{bilangan} adalah bilangan prima.")
else:
    print(f"{bilangan} bukan bilangan prima (bilangan harus lebih besar dari 1).")

Masukkan sebuah bilangan: 8
8 bukan bilangan prima karena habis dibagi 2.

**Tampilkan Hanya Bilangan Genap dengan Continue**

In [ ]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

**Iterasi Dictionary Mahasiswa**

In [ ]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for key, value in mahasiswa.items():
    print(f"{key} : {value}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

**Enumerate Daftar Barang**

In [ ]:
barang = ["Buku", "Pulpen", "Tas"]
for nomor, nama in enumerate(barang, start=1):
    print(f"{nomor} {nama}")

1 Buku
2 Pulpen
3 Tas

**Studi Kasus Kasir Diskon**

In [11]:
total = 0
print("=== Program Kasir Sederhana ===")
print("Ketik 'selesai' jika sudah selesai berbelanja.\n")

while True:
    nama_barang = input("Masukkan nama barang: ")

    if nama_barang.lower() == "selesai":
        break

    harga = int(input(f"Masukkan harga {nama_barang}: "))
    jumlah = int(input(f"Masukkan jumlah {nama_barang}: "))

    subtotal = harga * jumlah
    total += subtotal

    print(f"Subtotal {nama_barang}: Rp{subtotal:,}\n")

if total >= 200000:
    diskon = total * 0.10
else:
    diskon = 0

total_bayar = total - diskon
print("\n=== STRUK BELANJA ===")
print(f"Total Belanja : Rp{total:,}")
print(f"Diskon (10%)  : Rp{diskon:,}")
print(f"Total Bayar   : Rp{total_bayar:,}")
print("=========================")
print("Terima kasih telah berbelanja!")

=== Program Kasir Sederhana ===
Ketik 'selesai' jika sudah selesai berbelanja.

Masukkan nama barang: selesai

=== STRUK BELANJA ===
Total Belanja : Rp0
Diskon (10%)  : Rp0
Total Bayar   : Rp0
=========================
Terima kasih telah berbelanja!